<%- include("layout/header") %>
<div class="container">
  <div class="row">
    <div>
      <h2>Dashboard <small><a style="font-size:0.8em" href="/create-poll">[Create Poll]</a> <a style="font-size:0.8em" href="/list-polls">[My Polls]</a> <a style="font-size:0.8em" href="/list-polls-all">[All Recent Polls]</a></small></h2>
      <hr />
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="card">
          <div class="container">
        <h4><b>1</b></h4>
        <p>Number of polls created</p>
        </div>
        </div>

      </div>
      <div class="col-xs-3">
        <div class="card">
          <div class="container">
        <h4><b>100</b></h4>
        <p>Number of response on your polls</p>
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
<%- include layout/footer %>
