<%- include layout/header %>

    <div class="container">
      <div class="py-5 text-center">
        <h2>Polls 9ja</h2>
      <p class="lead">"White or black, you choose"</p>
      Polls 9ja is a simple poll system designed to give everyone a choice to choose.
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" type="button">Getting Started</button>
      </div>
    </div>
  <%- include layout/footer %>
